*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

  

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  
 
  
}
.card{
  width: 400px;
  text-align: center;
  background-color: blue;
  padding: 20px;
  border-radius: 10px;

   
}

.card ul{
  list-style: none;
}

.other-data{
  display: flex;
  text-align: left;
  
}





@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}